header.resume {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.resume section {
    padding: 25px 30px 20px;
    margin-bottom: 30px;
    background-color: rgb(206, 229, 236);
    box-shadow: 0 15px 10px -15px #000000;
    border-radius: 10px;
}

.company {
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
}

.company span {
    flex: 50%;
    white-space: nowrap;
}

.date {
    display: block;
    padding: 10px 0;
    font-weight: bold;
    text-align: right;
}

@media screen and (max-width: 1000px) {

    .company {
        flex-wrap: wrap;
        justify-content: start;
    }
}

@media screen and (max-width: 845px) {

    .date {
        text-align: inherit;
    }
}

@media screen and (max-width: 414px) {
    .company span {
        flex: none;
        white-space: normal;
    }

    .company em {
        display: block;
    }
}