/* variables */
:root {
    /* colors */
    --paleDogwood: #5addb6;
    --oxfordBlue: #010305;
    --dark: #46bda3;
    --linen: #5fdac9;
    --champagne: #E3D5CA;

    /* fonts */
    --bebasHead: '';
    --robotoBody: 'Roboto', sans-serif;

    /* font size */
    --fontHuge: 5rem;
    --fontxLarge: 4rem;
    --fontLarge: 2rem;
    --fontDefault: 1.5rem;
    --fontSmall: 1rem;

    /* spacing */
    --spacing-unit: 1.5rem;
    --spacing-unit-small: 0.75rem;
    --spacing-unit-tiny: 0.375rem;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* element styles */ 
a {
    color: var(--oxfordBlue);
    text-decoration: none;
}

a:hover {
    color: var(--oxfordBlue);
}

html, body {
    height: 100%;
    min-width: 520px;
}

body {
    color: var(--oxfordBlue);
    font-size: 16px;
    font-family: var(--robotoBody);
    min-height: 100vh;
    background-color: var(--linen);
}

footer {
    margin-top: 15px;
    background-color: var(--dark);
    color: var(--oxfordBlue);
}

form {
    margin: 0 auto;
    width: 50%;
}

header {
    margin-bottom: 30px;
}

h1, h2, h3 {
    font-family: var(--bebasHead);
}

h1 {
    color: var(--oxfordBlue);
    font-size: var(--fontHuge);
    line-height: 0.9em;
    margin-bottom: 0;
}

h2 {
    color: var(--oxfordBlue);
    font-size: var(--fontxLarge);
}

input, textarea {
    display: block;
    margin-bottom: 10px !important;
    width: 360px;
}

main {
    margin: 0 auto 30px;
    padding: 0 15px;
    width: 1000px;
    min-height: calc(100vh - 302px);
}

main a {
    color: var(--oxfordBlue);
    text-decoration: underline;
}

main a:hover {
    color: var(--paleDogwood);
    background-color: var(--oxfordBlue);
    text-decoration: none;
}

nav {
    padding: 25px 0 5px;
    flex: 50% 1;
}

/* media queries */

@media screen and (max-width: 1000px) {

    main {
        width: 90%;
        min-height: calc(100vh - 370px);
    }
}

@media screen and (min-width: 1120px) {

    .section-content {
        padding: 0 30px;
    }
}

@media screen and (max-width: 767px) {

    form {
        width: 100%;
    }
}